<div class="h-screen  text-black px-8 flex flex-col items-center justify-center  bg-green-50">
    <h2 class="!text-3xl font-bold mb-4">Leaderboard</h2>
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-white text-left">
          <th class="px-4 py-2">Position</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of leaderboard">
          <td class="border px-4 py-2">{{ player.position }}</td>
          <td class="border px-4 py-2">{{ player.name }}</td>
          <td class="border px-4 py-2">{{ player.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  