/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

 .mat-mdc-raised-button {
    background: white !important;
    text:#4f46e5;
    border-radius: 8x !important;
    
}
