

<div class="h-screen flex flex-col items-center justify-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold text-white">Welcome to the Binomial Expansion Game</h1>
      <p class="text-lg text-white mt-4">An educational journey through mathematics and logic.</p>
    </div>
    <div class="flex gap-4">
      <button (click)="openStartGameModal()" class="px-6 py-3 bg-white text-indigo-600 font-semibold rounded-lg shadow-md hover:bg-indigo-100">
        Start Game
      </button>
      <button (click)="openGameInfoModal()" class="px-6 py-3 bg-white text-indigo-600 font-semibold rounded-lg shadow-md hover:bg-indigo-100">
        Show Game Information
      </button>
      <button routerLink="/gendserate-question"  class="px-6 py-3 bg-white text-indigo-600 font-semibold rounded-lg shadow-md hover:bg-indigo-100">
        Leaderboard
      </button>
    </div>
  </div>
  
